<launch>
  <arg name="config" default="$(find rlcarsim)/Configurations/config.ini" />
  <arg name="logdir" default="$(find rlcarsim)/weights/" />
  <arg name="pose" default="/pose" />
  <arg name="tof" default="/tof" />
  <arg name="cmd" default="/cmd" />

  <node name="rlcar" pkg="rlcarsim" type="rlcarsim_ros.py" required="true">
    <param name="config" value="$(arg config)" />
    <param name="logdir" value="$(arg logdir)" />
    <remap from="pose" to="$(arg pose)" />
    <remap from="tof" to="$(arg tof)" />
    <remap from="cmd" to="$(arg cmd)" />
  </node>
</launch>
